
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('http://fonts.cdnfonts.com/css/roboto');
@import url('http://fonts.cdnfonts.com/css/myriad-pro');

* {
    margin: 0;
    padding: 0;

}


#blog {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 130vh;

}

.letsbloglogo {

    width: 100%;
    position: relative;
    font-size: 1.2em;
    margin-top: 5%;

}

.letsbloglogo::before {

    line-height: 210px;
    color: #d21242;
    font-weight: 900;
    font-family: "Roboto";

    content: "B";
    position: absolute;
    font-size: 10em;
    left: 0;
    text-align: center;
    width: 100%;
    top: -93px;
    z-index: -1;
}



.blogh2 {
    color: #222222;
    font-family: "Gotham";
    padding: 2em;
    font-size: 1.5em;
}
.blogh2 p{
    padding: 2em;
}
.cardblog {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardblog h3 {
    color: #d21242;
    padding-top: 10%;
}

.cardblog p {

    padding: 10%;
    width: 80%;
    font-family: "Gotham";

}

.cardblog img {
    width: 90%;

}

@media screen and (max-width: 1050px) {

    /* rien ! */

}

@media screen and (max-width: 730px) {
.letsbloglogo{
    margin-top: 0%;
}
}
/* 1080 925 730 650 